<section>
    <div class="row">  

      <div class="col-sm-8 col-sm-offset-2">

        <div class="product_single">

            <h2><%= @product.name %></h2>
            <span><p>Supplied by: <%= @supplier.name %></p></span>

            
            <p>Price: <%= @product.price %></p>
            <% @images.each do |image| %>
            <img src ="image.url %>" alt ="<%= @product.name%>" class = "img_responsive">
            <%end %>

            <p>Description: <%= @product.description %></p>
            <% if current_user && current_user.admin %>




            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>

            <% end %>

            <% form_tag "/orders", :method :post do %>
            <div>
            <%= label_tag :quantity %>

            <%= text_field_tag :quantity %>

           
            <%= hidden_feild_tag :product_id,product.id%>
            <%submit_tag "Add to cart"%>
    
            </div>
        <%end%> 
        </div>
      </div>
    </div>
  </section>